
# =============== #

# Unity generated #

# =============== #

[Tt]emp/

[Oo]bj/

[Ll]ibrary/

sysinfo.txt

*.stackdump

/[Uu]nityVS/

Stadsspel Sint-Niklaas/Assets/Materials/GOMap/

QualitySettings.asset

# ===================================== #

# Visual Studio / MonoDevelop generated #

# ===================================== #

[Ee]xported[Oo]bj/

.vs/

*.csproj

*.unityproj

*.sln

*.suo

*.tmp

*.user

*.userprefs

*.pidb

*.booproj

*.svd



# ============ #

# OS generated #

# ============ #

.DS_Store*

._*

.Spotlight-V100

.Trashes


ehthumbs.db

[Tt]humbs.db



# ================= #

# Blender generated #

# ================= #

*.blend*

!*.blend


# ================= #

# Substance Designer generated #

# ================= #

.autosave/

.idea/
Stadsspel Sint-Niklaas/Assets/Plugins/Editor.meta
Stadsspel Sint-Niklaas/Assets/Plugins/Editor/
Stadsspel Sint-Niklaas/Assets/websocket-sharp.dll
Stadsspel Sint-Niklaas/Assets/websocket-sharp.dll.meta
Stadsspel Sint-Niklaas/Assets/Plugins/WebSocket/websocket-sharp.dll.meta




